<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBRW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/user_management.styles.css" asp-append-version="true" />
    <link rel="icon" href="/img/user.png" type="image/x-icon" />
    <style>
        body {
            height: 100vh;
            margin: 0;
        }

        header {
            text-align: right;
        }

        .form-control:focus {
            border-color: coral !important;
            box-shadow: 0 1px 1px rgba(251, 195, 40, 0.075) inset, 0 0 8px coral !important;
        }

        .btn:focus {
            border-color: transparent !important;
            box-shadow: none !important;
        }

        .exit-btn {
            border: 0px;
            border-radius: 50%;
            transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin: 0.5em;
            padding: 0;
        }

            .exit-btn:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                background: coral;
                color: white;
            }

            .exit-btn img {
                filter: invert(0%);
                transition: filter 0.3s ease;
                margin: 0.2em 0.2em 0.2em 0.2em;
                vertical-align: unset;
            }

            .exit-btn:hover img {
                filter: invert(100%);
            }
    </style>
</head>
<body>
    @if(!User.Identity.IsAuthenticated)
    {
        <header>
            <a asp-controller="Account" asp-action="LogOut" asp-area="" class="btn exit-btn">
                <img src="/img/logout.png" height="25" width="25"/>
            </a>
        </header>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - CRUD SBRW - <a href="https://github.com/SBRWevc/crud" class="text-decoration-none">GitHub</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
