<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SBRW</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/user_management.styles.css" asp-append-version="true" />
    <link rel="icon" href="/img/user.png" type="image/x-icon" />
    <style>
        body {
            height: 100vh;
            margin: 0;
        }

        label {
            text-align: left;
        }

        form {
            text-align: right;
        }

        .form-control:focus {
            border-color: coral !important;
            box-shadow: 0 1px 1px rgba(251, 195, 40, 0.075) inset, 0 0 8px coral !important;
        }

        .btn:focus {
            border-color: transparent !important;
            box-shadow: none !important;
        }
    </style>
</head>
<body>
    @if(User.Identity.IsAuthenticated)
    {
        <header>    
            <label>
                @ViewData["Title"]
            </label>
            <form asp-controller="Account" asp-action="LogOut" method="post">
                <button type="submit" class="btn rounded-3 custom-btn">Выйти</button>
            </form>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <label>
                &copy; 2024 - CRUD SBRW - <a href="https://github.com/SBRWevc/crud" class="text-decoration-none"> GitHub</a>
            </label>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
